<div class="modal fade" id="downloadFilterModal" tabindex="-1" aria-labelledby="downloadFilterLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" style="max-width: 95%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="downloadFilterLabel">Download peptides of interest</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-sm p-3 mb-2  text-dark" style="background: #ededed;border-radius: 0px 49px 0px 0px;padding:10px; text-align: left;" >  
                <form action="{% url 'download_user_filter_peptides' %}" method='POST' name="search_filter">
                    {% csrf_token %}  
                    {% include '_filter.html'%}
                    <input type="text "style="display: none;"class="input"id="source" name="source" value="{{source}}">
                    <input type="submit"  id="inputbut" value="Download" />
                </form>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    