<div class = "row">
    <div class = "col-6">
        <label for="Tissue type">Tissue type : </label>
        <input type="text" class="input" id="tissue_type" name="tissue_type" value="{{tissue_type}}" >
    </div>
    <div class = "col-6">
        <label for="Gene symbol">Gene symbol : </label>
        <input type="text" class="input" id="gene_symbol" name="gene_symbol" value="{{gene_symbol}}">
    </div>
</div>
<div class = "row">
    
    <div class = "col-6">
        <label for="Mut peptide">Mut peptide : </label>
        <input class="input" type="text" name="tumor_protein" value="{{tumor_protein}}">

    </div>
    <div class = "col-6">
        <label for="HLA type">HLA type   :  </label>
        <input type="text" class="input" id="hla_type" name="hla_type" value="{{hla_type}}">
    </div>
    
</div>
<div class = "row">
    
    <div class = "col-6">
        <label for="ic50">IC50 : </label>
        <input class="input2" type="number" name="ic50_min" value="{{ic50_min}}"> - <input class="input2" type="number" name="ic50_max" value="{{ic50_max}}">

    </div>
    <div class = "col-6">
        <label for="HLA type">Mut rank   :  </label>
        <input type="text" class="input2" id="mut_min" name="mut_min" value="{{mut_min}}"> - <input type="text" class="input2" id="mut_max" name="mut_max" value="{{mut_max}}">
    </div>
    
</div>