{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}
<div class="col-md-12" style="padding-top: 100px;"></div>
<div class="container-sm" style=" text-align: left; margin: auto;">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">About TWNeoDB</h5>
      <p class="card-text">Tumor neoantigens are known for their high immunogenicity. There are two main types of neoantigens that have shown potential for being shared among patients. The first type is mutated tumor-specific antigens (mTSAs), which originate from somatic mutations in tumor cells. The second type is aberrantly expressed tumor-specific antigens (aeTSAs), which arise due to epigenetic modifications or abnormal RNA splicing events. These tumor neoantigens can associate with major histocompatibility complex (MHC) molecules and be recognized by T cell receptors (TCRs), leading to the activation of the immune system to target and destroy cancer cells. Although several neoantigen databases have been developed, they predominantly focus on the Western population and largely consist of peptides from mTSAs. In contrast, our database includes peptides from both mTSAs and aeTSAs, with a particular focus on the Taiwanese population.</p>
    </div>
  </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: left; margin: auto;">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">What can TWNeoDB be used for?</h5>
      <p class="card-text">TWNeoDB is a comprehensive web-based database designed to facilitate the study and application of tumor neoantigens, particularly focusing on the Taiwanese population. Here’s what TWNeoDB can be used for:</p>
      <ol>
        <strong><li>Search for Specific Peptides</li></strong>
        <strong><li>Data Download</li></strong>
        <strong><li>Immunogenicity Prediction</li></strong>
        <strong><li>Cross-referenced Data with IEDB</li></strong>
        <strong><li>Clinically Validated Peptides</li></strong>
        <strong><li>Comprehensive Neoantigen Data</li></strong>
      </ol>
    </div>
  </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: left; margin: auto;">
    <div class="card text-dark mb-3" >
        <div class="card-header"><strong>List of Third-party Tools Incorporated into TWNeoDB</strong></div>
        <div class="card-body">
          <!-- <h5 class="card-title">Light card title</h5> -->
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th scope="col">Tool Name</th>
                <th scope="col">Version</th>
              </tr>
            </thead>
            <tr>
              <td><a href="https://www.djangoproject.com/" target="_blank">django</a></td>
              <td>3.2.3</td>
            </tr>
            <tr>
              <td><a href="https://django-q.readthedocs.io/en/latest/" target="_blank">django-q</a> </td>
              <td>1.3.9</td>
            </tr>
            <tr>
              <td><a href="https://numpy.org/" target="_blank">Numpy</a> </td>
              <td>1.25.0</td>
            </tr>
            <tr>
              <td><a href="https://narwhal.cgm.ntu.edu.tw/" target="_blank">NARWHAL</a></td>
              <td>202308</td>
            </tr>
            <tr>
              <td><a href="https://www.python.org/" target="_blank">python</a></td>
              <td>3.9</td>
            </tr>
            <tr>
              <td><a href="https://pandas.pydata.org/" target="_blank">pandas</a></td>
              <td>2.0.2</td>
            </tr>
            <tr>
              <td><a href="https://pypi.org/project/pip/" target="_blank">pip</a></td>
              <td>23.1.2</td>
            </tr>
            <tr>
              <td><a href="https://pypi.org/project/psutil/" target="_blank">psutil</a></td>
              <td>5.9.4</td>
            </tr>
            <tr>
              <td><a href="https://plotly.com/python/" target="_blank">plotly</a></td>
              <td>5.18.0</td>
            </tr>
            <tr>
              <td><a href="https://pvactools.readthedocs.io/en/latest/install.html" target="_blank">pVACtools</a></td>
              <td>4.0.3</td>
            </tr>
            <tr>
              <td><a href="https://scikit-learn.org/stable/" target="_blank">scikit-learn</a></td>
              <td>1.3.1</td>
            </tr>
            <tr>
              <td><a href="https://www.tensorflow.org/" target="_blank">tensorflow</a></td>
              <td>2.16.1</td>
            </tr>
            <tr>
              <td><a href="https://pytorch.org/" target="_blank">pytorch</a></td>
              <td>1.13.0</td>
            </tr>
            <tr>
              <td><a href="https://github.com/jiujiezz/deephlapan/tree/master" target="_blank">DeepHLApan</a></td>
              <td>1.1</td>
            </tr>
            <tr>
              <td><a href="https://github.com/KarchinLab/bigmhc?tab=readme-ov-file" target="_blank">BigMHC</a></td>
              <td>1.0</td>
            </tr>
          </table>
        </div>
      </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: left; margin: auto;">
    <div class="card text-dark mb-3" >
        <div class="card-header"><strong>List of Databases Incorporated into TWNeoDB</strong></div>
        <div class="card-body">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th scope="col">Database Name</th>
                <th scope="col">Releaced Version/Date</th>
              </tr>
            </thead>
            <tr>
              <td>IEDB</td>
              <td>May 26, 2024</td>
            </tr>
            <tr>
              <td>iEAtlas</td>
              <td>Sep 13, 2022 </td>
            </tr>

          </table>
        </div>
      </div>
</div>

{% endblock %}