{% extends "base.html" %}
{% block title %} home {% endblock %}
{% block content %}
<div class="col-md-12" style="padding-top: 100px;"></div>
<div class="container-sm" style=" text-align: center; margin: auto;">
    <div class="card text-dark bg-light mb-3" >
        <div class="card-header"><strong>What is TWNeoDB?</strong></div>
        <div class="card-body">
          <!-- <h5 class="card-title">Light card title</h5> -->
          <p class="card-text">TWNeoDB is a database about tumor-specific antigen(TSA) from Taiwanese.</p>
        </div>
      </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center; margin: auto;">
    <div class="card text-dark bg-light mb-3" >
        <div class="card-header"><strong>What can TWNeoDB used for?</strong></div>
        <div class="card-body">
          <!-- <h5 class="card-title">Light card title</h5> -->
          <p class="card-text">TWNeoDB can use for .</p>
        </div>
      </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center; margin: auto;">
    <div class="card text-dark bg-light mb-3" >
        <div class="card-header"><strong>What can TWNeoDB used for?</strong></div>
        <div class="card-body">
          <!-- <h5 class="card-title">Light card title</h5> -->
          <p class="card-text">TWNeoDB can use for .</p>
        </div>
      </div>
</div>

{% endblock %}