{% extends "base.html" %}
{% block title %} pep_detail {% endblock %}


{% block content %}

<div class="col-md-12" style="padding-top: 25px;"></div>
<div class="container-sm" style=" text-align: center">
  <div class = "row">
    <div class="col-md-3 text-center " style ="color: #52acff;">
      <h4>{{tumor}}</h4>
    </div> 
    <div class=" col-md-3 stext-center" style ="color: #bc9898;" >
      <h4>{{hla}}</h4>
    </div> 
  </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center" >
  <div class="card shadow">
      <div class="card-header bg-secondary text-white">
        <h5><strong>Transcript Information</strong></h5>
      </div>
      <div class="card-body">
        <table class="table text-center table-borderless">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Gene symbol</th>
              <th scope="col">Gene</th>
              <th scope="col">Transcript ID</th>
              
            </tr>
          </thead>
          <tbody>
            {% for i in peptide %}
              <tr>
                <th scope="row"></th>
                <td>{{ i.transcript_id.gene_symbol }}</td>
                <td>{{ i.transcript_id.gene_id }}</td>
                <td>{{ i.transcript_id }}</td>
              </tr>
              
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center" >
  <div class="card shadow">
    <div class="card-header bg-secondary text-white">
        <h5><strong>Variant Information</strong></h5>
    </div>
    <div class="card-body">
      <table class="table text-center  table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Variant position</th>
            <th scope="col">Reference</th>
            <th scope="col">Tumor</th>
            <th scope="col">Amino acids change</th>
            <th scope="col">Protein position</th>
            <th scope="col">Tpm Normal</th>
            <th scope="col">Tpm Tumor</th>
          </tr>
        </thead>
        <tbody>
          {% for i in peptide %}
            <tr>
              <th scope="row"></th>
              <td>{{ i.vaa_p.variant_position }}</td>
              <td>{{ i.vaa_p.allele_ref }}</td>
              <td>{{ i.vaa_p.allele_tumor }}</td>
              <td>{{ i.vaa_p.amino_acids_change }}</td>
              <td>{{ i.vaa_p.protein_position }}</td>
              <td>{{ i.vaa_p.tpm_normal }}</td>
              <td>{{ i.vaa_p.tpm_tumor }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% for i in peptide %}
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="padding-top: 10px; word-wrap:break-word;">
          <strong>Wildtype Protein</strong>
          <p style="font-family: monospace;">{{i.transcript_id.wildtype_protein}}</p>
        </div>
  
      </div>
        
      {% endfor %}
    </div>
  </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center" >
  <div class="card shadow">
    <div class="card-header bg-secondary text-white">
        <h5><strong>Prioritizing Score</strong></h5>
    </div>
    <div class="card-body">
      <table class="table text-center  table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">IC 50</th>
            <th scope="col">MT Rank</th>
            <th scope="col">Best Cleavage Position</th>
            <th scope="col">Best Cleavage Score</th>
            <th scope="col">Binding Stability</th>
            <th scope="col">Half Life</th>
            <th scope="col">Stability Rank</th>
          </tr>
        </thead>
        <tbody>
          {% for i in score %}
            <tr>
              <th scope="row"></th>
              <td>{{ i.ic50 }}</td>
              <td>{{ i.mt }}</td>
              <td>{{ i.best_cleavage_position }}</td>
              <td>{{ i.best_cleavage_score }}</td> 
              <td>{{ i.predicted_stability }}</td>
              <td>{{ i.half_life }}</td>
              <td>{{ i.stability_rank }}</td>
            </tr>
          {% endfor %}
        </tbody>
        
      </table>
      <table class="table text-center  table-borderless">
        <thead>
          <tr>
            <th scope="col">Average Gravy Score</th>
            <th scope="col">Max Gravy Score</th>
            <th scope="col">Average Hydrophobicity score</th>
            <th scope="col">Dissimilarity</th>
            <th scope="col">Foreignness</th>
            <th scope="col">Foreignness IEDB_anno</th>
          </tr>
        </thead>
        <tbody>
          {% for i in score %}
            <tr>
              <td>{{ i.cterm_7mer_gravy_score }}</td>
              <td>{{ i.max_7mer_gravy_score }}</td>
              <td>{{ i.hydro_avg_score }}</td>
              <td>{{ i.dissimilarity }}</td>
              <td>{{ i.foreignness_score }}</td>
              <td>{{ i.IEDB_anno }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center" >
  <div class="card shadow">
      <div class="card-header bg-secondary text-white">
          <h5><strong>Validated Information </strong></h5>
      </div>
      <div class="card-body">
        <table class="table text-center  table-borderless">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">HLA type</th>
              <th scope="col">Qualitative measure</th>
              <th scope="col">IEDB assay</th>
              
            </tr>
          </thead>
          <tbody>
            {% for i in dict_obj %} 
                <tr>
                  <th scope="row"></th>
                  <td>{{ i.mhc_allele_name }}</td>
                  <td>{{ i.qualitative_measure }}</td>
                  <td><a href ="https://www.iedb.org/assay/{{i.elution_id}}" target="_blank">link</a></td>
                  <!-- +{{ i.elution_id }} -->
                </tr>
                
            {% endfor %}
          </tbody>
        </table>

      </div>
  </div>
</div>

<div class="col-md-12" style="padding-top: 10px;"></div>




<script>
    
    let while_type = document.getElementById("WT").innerHTML;
    var len = while_type.length;
    console.log(while_type.length);
    // for (i=0;i=len;i++){
        
    //     // if ((i+1)% 5==0){
    //     //     len = len+5
    //     //     while_type = while_type.slice(0, i)+ "<br/>" + while_type.slice(i,len )
    //     // }
    //     console.log(i);
    // }
    
    document.getElementById("demo").innerHTML = while_type;
 
    // alert( i );
</script>


{% endblock %}