{% extends "base.html" %}
{% block title %} aeTSA detail {% endblock %}
{% block content %}

<div class="col-md-12" style="padding-top: 100px;"></div>
<div class="container-sm" style=" text-align: center">
  <div class="text-left" >
    <button onclick="goBack()" id="inputbut">Back</button>
  </div>
  <div class = "row">
    <div class="col-md-2 text-right offset-3" >
        <h4 id = "tumorSequence" >{{tumor}}</h4>
    </div>
    <div class=" col-md-2 text-left"  >
        <h4>{{hla}}</h4>
    </div>
    <div class=" col-md-4 text-left"  >
      <h5>Source from : <span class="badge bg-dark">RNA</span></h5>
      <h5>
        Tumor type : 
        {% for i in tumor_object %}
          {% if i.tumor_type == 'colon' %}
            <span class="badge bg-primary">{{i.tumor_type}}</span>
          
          {% elif i.tumor_type == 'oral' %}
            <span class="badge bg-success">{{i.tumor_type}}</span>
          {% elif i.tumor_type == 'lung' %}
            <span class="badge bg-warning">{{i.tumor_type}}</span>
          {% endif %}
        {% endfor %}
      </h5>
      <h5>
        Associated Transcript :
        {% if associated_transcript_object %}
          <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#associated_transcriptModal">
            show
          </button>
        {% else %}
          <span >None</span>
        {% endif %}
      </h5>
    </div> 

  </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center" >
    <div class="card shadow">
        <div class="card-header bg-secondary text-white">
          <h5><strong>Gene Information</strong></h5>
        </div>
        
        <div class="card-body">
          <table class="table text-center table-borderless">
            
              <tr>
                <th>Gene symbol</th><td>{{ transcript_object.gene_symbol }}</td>
              </tr>
              <tr>
                <th>Gene ID</th><td>{{ transcript_object.gene_id }}</td>
              </tr>
              <tr>
                <th>Gene element</th><td>{{ transcript_object.gene_element }}</td>
              </tr>
              <tr>
                <th>cDNA location</th><td>{{ transcript_object.cdna_location }}</td>
              </tr>
              <tr>
                <th>cDNA sequence</th><td>{{ transcript_object.cdna_sequence }}</td>
              </tr>
              <tr> 
                <th>Translated tumor peptide</th><td>{{ transcript_object.translated_tumor_peptide }}</td>
              </tr>
              <tr>
                <th>Associated transcript peptide</th> 
                  {% if associated_pep_object %}
                    <td>
                      <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#associated_peptideModal">
                        show
                      </button>
                    </td>
                  {% else %}
                    <td>None</td>
                  {% endif %}
                
              </tr>
              <tr>
                <th>Tumor/Normal read count</th><td>{{ score_groupby.0.tumor_read_count_avg }} / {{score_groupby.0.normal_read_count_avg}}</td>
              </tr>
              <tr>
                <th>sum of tumor and normal read count</th><td>{{ score_groupby.0.sum_of_tumor_and_normal_read_count_avg }}</td>
              </tr>
              <tr>
                <th>total tumor/normal read count</th><td>{{ score_groupby.0.total_tumor_read_count_avg }} / {{ score_groupby.0.total_normal_read_count_avg }}</td>
              </tr>
              <tr>
                <th>sum of total tumor and normal read count</th><td>{{ score_groupby.0.sum_of_total_tumor_and_normal_read_count_avg }}</td>
              </tr>
              <tr>
                <th>tumor/normal average read depth</th><td>{{ score_groupby.0.tumor_average_read_depth_avg }} / {{ score_groupby.0.normal_average_read_depth_avg }}</td>
              </tr>
              <tr>
                <th>sum of expected read count</th><td>{{ score_groupby.0.sum_of_expected_read_count_avg }}</td>
              </tr>
              <tr>
                <th>average depth ratio</th><td>{{ score_groupby.0.average_depth_ratio_avg }}</td>
              </tr>
              <tr>
                <th>element read proportion</th><td>{{ score_groupby.0.element_read_proportion_avg }}</td>
              </tr>
              <tr>
                <th>sum of element read count</th><td>{{ score_groupby.0.sum_of_element_read_count_avg }}</td>
              </tr>
          </table>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center" >
  <div class="card shadow">
    <div class="card-header bg-secondary text-white">
        <h5><strong>Prioritizing Score</strong></h5>
    </div>
    <div class="card-body">
      <table class="table text-center table-borderless">
          <tr>
            <th>IC 50</th><td>{{ mutant_peptide_object.ic50_mut }}</td>
          </tr>
          <tr>
            <th>MT Rank</th><td>{{ mutant_peptide_object.percent_mut }}</td>
          </tr>
          <tr>
            <th>Best Cleavage Position</th><td>{{ mutant_peptide_object.peptide_selection_score_id.best_cleavage_position }}</td>
          </tr>
          <tr>
            <th>Best Cleavage Score</th><td>{{ mutant_peptide_object.peptide_selection_score_id.best_cleavage_score }}</td> 
          </tr>
          <tr>
            <th>Binding Stability</th><td>{{ mutant_peptide_object.peptide_selection_score_id.predicted_stability }}</td>
          </tr>
          <tr>
            <th>Half Life</th><td>{{ mutant_peptide_object.peptide_selection_score_id.half_life }}</td>
          </tr>
          <tr>
            <th>Stability Rank</th><td>{{ mutant_peptide_object.peptide_selection_score_id.stability_rank }}</td>
          </tr>
          <tr>
            <th>Average Gravy Score</th><td>{{ mutant_peptide_object.peptide_selection_score_id.cterm_7mer_gravy_score }}</td>
          </tr>
          <tr>
            <th>Max Gravy Score</th><td>{{ mutant_peptide_object.peptide_selection_score_id.max_7mer_gravy_score }}</td>
          </tr>
          <tr>
            <th>Average Hydrophobicity score</th><td>{{ mutant_peptide_object.peptide_selection_score_id.hydro_avg_score }}</td>
          </tr>
          <tr>
            <th>Dissimilarity</th><td>{{ mutant_peptide_object.peptide_selection_score_id.dissimilarity }}</td>
          </tr>
          <tr>
            <th>Foreignness</th><td>{{ mutant_peptide_object.peptide_selection_score_id.foreignness_score }}</td>
          </tr>
          <tr>
            <th>Foreignness IEDB_anno</th><td>{{ mutant_peptide_object.peptide_selection_score_id.IEDB_anno }}</td>
          </tr>
      </table>
    </div>
  </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center" >
  <div class="card shadow">
      <div class="card-header bg-secondary text-white">
          <h5><strong>Validated Information </strong></h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h5><strong>Peptide present by MHC</strong></h5>
            <table class="table text-center  table-borderless">
              {% if dict_obj %}
                <thead>
                  <tr>
                    <th></th>
                    <th>HLA type</th>
                    <th>Qualitative measure</th>
                    <th>IEDB assay</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in dict_obj %} 
                        <tr>
                          <th></th>
                          <td>{{ i.mhc_allele_name }}</td>
                          <td>{{ i.qualitative_measure }}</td>
                          <td><a href ="https://www.iedb.org/assay/{{i.elution_id}}" target="_blank">link</a></td>
                          <!-- +{{ i.elution_id }} -->
                        </tr>
                        
                    {% endfor %}
              {% else %}
                    <tr>
                        <td colspan="4"><strong>None</strong></td>
                    </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
          <div class="col-6">
            {% include '_validated_peptide.html' %}
          </div>
        </div>
      </div>
  </div>
</div>
<div class="col-md-12" style="padding-top: 100px;"></div>
<!-- Modal -->
{% include 'relational_transcript.html' %}
{% include 'relational_peptide.html' %}
<script>
  function goBack() {
          window.history.go(-1);
      }
</script>
    
        
{% endblock %}

 
   
  
    
   