{% extends "base.html" %}
{% block title %} test {% endblock %}
{% block content %}  

<div class="col-md-12" style="padding-top: 100px;"></div>
<div class="container-sm" style=" text-align: center" >
    <div class="card shadow">
        <div class="card-header bg-secondary text-white">
          <h5><strong>Patient Distribution of Different Tumor</strong></h5>
        </div>
        <div class="card-body">
            {% include 'graph_patient_info.html' %}
        </div>
    </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center" >
    <div class="card shadow">
        <div class="card-header bg-secondary text-white">
          <h5><strong>HLA Distribution</strong></h5>
        </div>
        <div class="card-body">
            <!-- <div class="row">
                <div class="col-4">
                    {% include 'graph_hla_a.html' %}
                </div>
                <div class="col-4">
                    {% include 'graph_hla_b.html' %}
                </div>
                <div class="col-4">
                    {% include 'graph_hla_c.html' %}
                </div>
            </div> -->
            <div class="row">
                {% include 'graph_hla_a.html' %}
            </div>
            <div class="row">
                {% include 'graph_hla_b.html' %}
            </div>
            <div class="row">
                {% include 'graph_hla_c.html' %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding-top: 20px;"></div>
<div class="container-sm" style=" text-align: center" >
    <div class="card shadow">
        <div class="card-header bg-secondary text-white">
          <h5><strong>Shared Peptide Counts</strong></h5>
        </div>
        <div class="card-body">
            {% include 'graph_shared_pep.html' %}
        </div>
        
    </div>
</div>




{% endblock %}