{% extends "base.html" %}
{% block title %} database {% endblock %}
{% block bar %}
    <ul>
        <li><brand href="#home">Name</a></li>
        <li><a href="#help">HELP</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#Summary">SUMMARY</a></li>
        <li><a class="active" href="#Database">DATABASE</a></li>
        <li><a href="#home">HOME</a></li>
    </ul> 
{% endblock %}
{% block content %}
    <div style="padding:20px; margin-top:30px;background-color:#ffffff;height:1500px;">
        <a href="#" class="button" id="button">mTSA</a>
        <a href="#" class="button" id="button">aeTSA</a>
      
        <showdb >
          <table 
            id="table" 
            class="table table-borderless "        
            
            data-sort-class="table-active"
            data-click-to-select="true"
            data-filter-control="true"
            >
    <!-- data-filter-control="input" -->
            <thead >
                <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-sortable="true" >ID</th>
                <th data-sortable="true"  data-formatter="layout1" >Mut peptide </th>
                <th data-sortable="true">Tissue type</th>
                <th data-sortable="true">Gene symbol</th>
                <th data-sortable="true">HLA type</th>
                <th data-sortable="true">IC50</th>
                <th data-sortable="true">Mut rank</th>
                </tr>
            </thead>
        
                {% for i in mtsa_all %}
                    
                    <tr class='clickable-row' data-href='url:/#' id="table_border_color">
                        
                        <td ></td>
                        <!-- <a class="stretched-link mr-2 text-decoration-none" href='{% url "detail_page_url" i.id %}'>link</a> -->
                        <td ><a  href='{% url "detail_page_url" i.id %}'>{{i.id}}</a></td>
                        <td >{{i.mTumor_protein}}<br>{{i.mNormal_protein}}</td>
                        <td >{{i.mTissue_type}}</td>
                        <td >{{i.mGene_symbol}}</td>
                        <td >{{i.mHLA_type}}</td>
                        <td >{{i.mIc50}}</td>
                        <td >{{i.mMT}}</td>
                       
                    </tr>
                    
                {% endfor %}
                

            </table>
            <a class="button" id="button" onclick="exportToExcel()">Export</a>
          
        </showdb>
    </div>
  
   
    <!-- </div> -->
    <!-- <div class="row g-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div> -->
    

    
    <script>
        // $(document).ready( function () {
        //     $('#table_id').DataTable(); 
        // } );
        // $('#sort-table').bootstrapTable();
        $(function() {
            $('#table').bootstrapTable()
        })

        function LinkFormatter(value, row, index) {
                     
            return "<a href='"+value+"'>"+value+"</a>"; 
        }

        
        function layout(value, row, index){
            var x=0,tp2='',tp1='',flag=0,aa='';
            var idx = value.indexOf("<br>"); 
            var tp = value.substring(0,idx);
            var np = value.substring(idx+4,);  
            
            for (i=0;i<idx;i++){
                if (tp[i] != np[i]){
                    x=i;
                    aa=aa+np[i]
                }
                
            }
            return tp.substring(0,x)+"<nobr style='color:red;'>"+tp[x]+"</nobr>"+tp.substring(x+1,)+"<br>"+"<nobr style='color:white;'>"+np.substring(0,x)+"</nobr>"+"<nobr style='color:gray;'>"+aa+"</nobr>";
        }
        function layout1(value, row, index){
            var x=0,tp2='',tp1='',flag=0,aa='';
            var idx = value.indexOf("<br>"); 
            var tp = value.substring(0,idx);
            var np = value.substring(idx+4,); 
            // console.log(index) 
            for (i=0;i<idx;i++){
                if (tp[i] != np[i]){
                    x=i;
                    aa=aa+np[i]
                }
                
            }
            return tp.substring(0,x)+"<nobr style='color:red;'>"+tp[x]+"</nobr>"+"<sup style='color:gray;'>"+aa+"</sup>"+tp.substring(x+1,);
        }

        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
            window.location = $(this).data("href");
            });
        });
        function exportToExcel() {
            const sheetName = 'My Table';
            const fileName = 'my-table.xlsx';
            const table = document.getElementById('table');
            const wb = XLSX.utils.table_to_book(table, { sheet: sheetName });
            return XLSX.writeFile(wb, fileName);
        }

       
    </script>
{% endblock %}
<!-- <h2>mTSA</h2>

    
    <div class="container-xxl">
        <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <div class="col ">
                 
                    <a href="/tumor_sort"  class="btn btn-light" >tumor</a>
                </div>
                <div class="col ">
                  
                    <button type="button" class="btn btn-light">normal</button>
                </div>
                <div class="col ">
                 
                    <button type="button" class="btn btn-light">AA change</button>
                </div>
                <div class="col ">
                
                    <button type="button" class="btn btn-light">TPM normal</button>
                </div>
                <div class="col ">
               
                    <button type="button" class="btn btn-light">TPM tumor</button>
                </div>

            </div>
            

        </div>

    </div>
    


    {% for i in mtsa_all %}
    <div class="container-xxl">
        <div class = "card ">
        
                <div class="row">
                    <a class="stretched-link mr-2 text-decoration-none" target="_blank" href="#"></a>
                    <div class="col ">
                        <p>{{i.mTumor_protein}}</p>
                    </div>
                    <div class="col">
                        <p>{{i.mNormal_protein}}</p>
                    </div>
                    <div class="col">
                        <p >{{i.mAmino_acids_change}}</p>
                    </div>
                    <div class="col">
                        <p>{{i.mTpm_normal}}</p>
                    </div>
                    <div class="col">
                        <p>{{i.mTpm_tumor}}</p>
                    </div>
                </div>
                
                
          
        </div>
        <h1></h1>
    </div>
    
    {% endfor %} -->